@import "variables";

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.header-right {
    margin-top: 20px;
}

.header-right {
    a {
        @include font(12px, normal);
    }
}

.about-us {
    color: $header-color;
}

.sign-in {
    color: $btn-header-color;
    border:2px solid $btn-header-color;
    border-radius: 100px;
}

.hapoErp {
    margin-top: 18%;
}

.italic {
    font-style: italic;
    letter-spacing: -0.03px;
    color: $header-color;
    padding-top: 50px;
    @include font(18px, normal);
}

.flex-item {
    i {
        font-size: 48px;
        color: $header-color;
    }

    p {
        color: $header-color;
        letter-spacing: -0.07px;
        @include font(36px, lighter);
    }
}

.flex-justify {
    justify-content: space-evenly;
    margin-top: 40px;
}

.btn-start {
    width: 195px;
    height: 50px;
    background-image: $background-gradient-color;
    border-radius: 100px;
    color: white;
    padding: 14px 47px 14px 47px;
    margin: 10px 0 18% 0;
    @include font(16px, normal);
}

.today-learnt {
    padding: 7% 0 7% 0;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
}

.head-title {
    max-height: 63px;
    margin: -5px 0 15px 0;

    i {
        font-size: 36px;
        color: $title-color;
        padding: 18px 19px 0 0;
    }

    p {
        color: $title-color;
        letter-spacing: -0.09pt;
        @include font(48px, lighter);
    }
}

.itali {
    font-size: 12px;
    color: $header-color;
}

.regular {
    line-height: 24px;
    color: $header-color;
    text-align: justify;
    padding-top: 22px;
    @include font(13px, normal);
}

.daily-report {
    padding: 7% 0 7% 0;
}

.route {
    background-image: $background-gradient-color;
    color: white;
    height: 322px;
}

.circle {
    border-radius: 100px;
    width: 107px;
    height: 107px;
    border: 2.5px solid white;
    font-size: 36px;
}

.small-circle {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: 2.5px solid white;
    font-size: 24px;
    background-color: $list-color;
    margin-top: -15px;
}

.sub-item {
    margin-top: 18px;
    p {
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 50px;
        color: $header-color;
        text-align: justify;
        line-height: 24px;
        @include font(13px, normal);
    }

    i {
        color: $btn-header-color;
        margin-right: 19px;
    }
}

.our-customer {
    background-image: url('../image/rectangle3.png');
    height: 544px;
    color: white;

    h1 {
        padding: 50px 0 38px 0;
        letter-spacing: -0.09px;
        @include font(48px, lighter);
    }
}

.customer {
    p {
        @include font(10px, normal);
    }
    span {
        @include font(13px, normal);
    }

    letter-spacing: -0.03px;
}

.carousel-indicators {
    margin-bottom: -20px;

    li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
}

.quote {
    width: 85%;
    margin: auto;

    i {
        font-size: 72px;
        opacity: 0.4;
    }

    p {
        margin-top: 40px;
        letter-spacing: -0.03px;
        padding: 0 26px 0 26px;
        @include font(18px, lighter);
    }
}

.ti-quote-right {
    padding-top: 10%;
}

footer {
    background-color: rgb(57, 71, 78);
    height: 179px;
}

.col-footer {
    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
        @include font(10px, 400)
    }

    .col-title {
        color: $btn-header-color;
        padding-bottom: 14px;
        @include font(13px, 400)
    }

    i {
        color: $btn-header-color;
        padding-top: 65px;
        font-size: 13px;
    }
}

@media screen and (min-width: 769px){
    .header-banner {
        background-image: url('../image/banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 873px;
}
    .hidden-md-down {
        display: block;
    }
     
    .hidden-lg-up {
       display: none; 
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .header-banner {     
        background-image: url('../image/rectangle.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 425px;
    }

    .hapoErp {
        margin-top: 6%;

        img {
            width: 20%;
        }
    }

    .flex-item {
        i {
            font-size: 24px;
        }

        p {
            font-size: 24px;
        }
    }

    .flex-justify {
        justify-content: space-around;
    }

    .italic {
        font-size: 14px;
        padding-top: 0;
    }

    .btn-start {
        width: 144px;
        height: 45px;
        font-size: 14px;
        padding: 13px 28px 13px 27px;
    }

    .hidden-md-down {
        display: none;
    }

    .hidden-lg-up {
        display: block;

        img {
            padding-top: 25px;
        }
    }

    .head-title {
        max-height: 63px;
        margin: -5px 0 15px 0;

        i {
            font-size: 30px;
            padding: 11px 13px 0 0;
        }

        p {
            letter-spacing: -0.07pt;
            @include font(36px, lighter);
        }
    }

    .itali {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.03px;
    }

    .regular {
        line-height: 21px;
    }

    .sub-item {
        margin-top: 20px;

        p {
            -webkit-line-clamp: 3;
            height: 60px;
            line-height: 21px;
            @include font(13px, normal);
        }

        i {
            margin-right: 12px;
        }
    }

    .our-customer {
        h1 {
            padding: 50px 0 20px 0;
            letter-spacing: -0.07px;
            @include font(36px, lighter);
        }
    }

    .quote {
        width: 100%;

        i {
            font-size: 64px;
            opacity: 0.4;
        }

        p {
            margin-top: 40px;
            padding: 15px 0 0 0;
            line-height: 30px;
            @include font(18px, lighter);
        }
    }
        
    .ti-quote-right {
        padding-top: 22%;
    }
     
    .col-footer {
        ul {
            padding-inline-start: unset;
        }
        padding: 0;
    }  
}
