@import "variables";

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.header-right {
    margin-top: 3%;

    a {
        @include font(12px, normal);
    }
}

.about-us {
    color: $header-color;
}

.sign-in {
    color: $btn-header-color;
    border: 2px solid $btn-header-color;
    border-radius: 100px;
    padding: 10px 15px 10px 17px;

    &:hover {
        color: $btn-header-color;
    }
}

.btn {
    &:focus, &:active {
       outline: 0 !important;
       box-shadow: none;
    }
}

.hapoERP {
    margin-top: 16%;
}

.italic {
    font-style: italic;
    letter-spacing: -0.03px;
    color: $header-color;
    padding-top: 4%;
    margin-bottom: 2.5%;
    @include font(18px, normal);
}

.flex-item {
    color: $header-color;

    i {
        font-size: 48px; 
    }

    p {
        letter-spacing: -0.07px;
        @include font(36px, lighter);
    }
}

.flex-justify {
    justify-content: space-evenly;
    margin-top: 4.211%;
}

.btn-start {
    background-image: $background-gradient-color;
    border-radius: 100px;
    color: white;
    padding: 13px 47px 11px;
    margin: 1% 0 20%;
    letter-spacing: 1.33px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    @include font(16px, normal);

    &:hover {
        color:white;
    }
}

.today-learnt {
    padding: 5.193% 0 0;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
}

.head-title {
    max-height: 63px;
    margin: -5px 0 15px;

    i {
        font-size: 36px;
        color: $title-color;
        padding: 18px 19px 0 0;
    }

    p {
        color: $title-color;
        letter-spacing: -0.09pt;
        @include font(48px, lighter);
    }
}

.itali {
    font-size: 12px;
    color: $header-color;
}

.regular {
    line-height: 24px;
    color: $header-color;
    text-align: justify;
    padding-top: 22px;
    @include font(13px, normal);
}

.daily-report {
    padding: 5.193% 0 0;
}

.route {
    background-image: $background-gradient-color;
    color: white;
    padding: 5.6% 0;
}

.circle {
    border-radius: 100px;
    width: 107px;
    height: 107px;
    border: 2.5px solid white;
    font-size: 36px;
}

.small-circle {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border: 2.5px solid white;
    font-size: 24px;
    background-color: $list-color;
    margin-top: -15px;
}

.sub-item {
    margin-top: 16px;
    
    p {
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 50px;
        color: $header-color;
        text-align: justify;
        line-height: 24px;
        margin-block-end: unset;
        @include font(13px, normal);
    }

    i {
        color: $btn-header-color;
        margin-right: 19px;
    }
}

.customer-item {
    margin: 5% 0 4%;
}

.our-customer {
    background-image: url('../image/rectangle3.png');
    color: white;

    h1 {
        padding: 5% 0 3.5%;
        letter-spacing: -0.09px;
        @include font(48px, lighter);
    }
}

.customer {
    letter-spacing: -0.03px;
   
    p {
        @include font(10px, normal);
    }

    span {
        @include font(13px, normal);
    }
    
    img {
        padding-top: 10px;
    }

    &:hover{
        img {
            transform: scale(1.2);
        }
        .customer-text {  
            transform: translateY(10px);
        }
    }
    
}

.carousel-indicators {
    margin-bottom: -20px;

    li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: unset;
        border: 1px solid rgba(255, 255, 255, 1);
        margin: 0 11px 0;
    }

    .active {
        background-color: white;
    }
}

.carousel-inner {
    padding: 0 2% 0;
}

.quote {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;

    i {
        font-size: 72px;
        opacity: 0.4;
    }

    p {
        margin-top: 40px;
        letter-spacing: -0.03px;
        padding: 0 26px;
        @include font(18px, lighter);
    }
}

footer {
    background-color: rgb(57, 71, 78);
    padding: 2.2% 0 2%;
}

.col-footer {
    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
        @include font(10px, 400)
    }

    i {
        color: $btn-header-color;
        padding-top: 65px;
        font-size: 13px;
    }

    .col-title {
        color: $btn-header-color;
        padding-bottom: 14px;
        @include font(13px, 400)
    }
}
